.container{
    background: #111111;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.container h1{
    font-size: 50px;
    color: #F5E7C3;
}
.collection{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card{
    background: #1D1D1D;
    border: 1px solid #4A3A22;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card h2{
    color: white;
}
.card p{
    color: #C7C7C7;
}
.card h3{
    color: #D4AF37;
}
